/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');


/*Variables*/
:root{
    /*bgcolors*/

    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --bg-white: #fff;

    /*text colors*/

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /*decoracion*/

    --fire: #ff6d00;
    --electric: #64deff;
}





/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*******Comienzo******/

body{
    background-color:var(--background);
}

header{
    background-color:var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    position: fixed;
    width: 100%;
}

.navbar, .navbar-ul{
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-ul{
    gap: 30px;

}

.navbar-ul a{
    color: var(--bg-white);
    font-size: 16px;
    font-family: 'Fredoka';
}
.logo{
    height: 100%
    
}

/*main*/

main{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--bg-white);
    font-family: 'Fredoka' ;
    padding: 70px;
}

#Meleys{
    margin-top: 80px;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;

}

.Meleys-info{
 display: flex;
 flex-direction: column;
 gap: 20px;
 width: 70%;
}

.Meleys-info h2{
    font-size: 48px;
    font-weight: 800;
    width: 70%;
    font-family:'Moderustic' ;
}

.Meleys-info p{
    font-size: 18px;
    width: 70%;
    color: var(--text-gray);
}

.Meleys-info div{
    color: var(--bg-white);
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    width: 70%;
    }
    
    .a-1{
        background-color: #fff;
        color: var(--background);
        border-radius: 15px;
        padding: 10px;
        border: solid 2px #272d37;
        margin-right: 10px;
    }

    .a-2{
        background-color: #272d37;
        border-radius: 15px;
        padding: 10px;
        border: solid 2px #f3f4f6;
        color: var(--bg-white);
        margin-left: 10px;
    }

.Meleys-foto{
    background-color: var(--secondary);
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.Meleys-foto h2{
    font-family:'Moderustic' ;
    font-size: 19px;
    font-weight: 400;
}

.Meleys-foto h3{
    font-family: 'Moderustic';
    font-size: 18px;
    font-weight: 400;
}

.Meleys-foto p{
    font-size: 16px;
}

.a-3{
    border: solid 2px var(--background);
    background-color: var(--text-gray);
    color: var(--background);
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


.Div-description{
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;font-size: 16px;
    text-align: center;
    margin-top: 50px;
    color: #adb9c7;
}

#Cards{
    margin-top: 80px;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Moderustic';
}
#Cards h2{
    font-size: 36px

}
.icon{
    height: 50px;
    width: 50px;
    color: #f3f4f6;
}

.ventaja-card-container{
    display: flex;
    gap: 20px;
flex-direction: row;
}

.ventaja-card{
    background-color: var(--secondary);
    width: 350px;
    height: 350px;
    padding: 40px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.ventaja-card p{
    font-size: 16px;
    color: var(--text-gray);
}

.ventaja-card h3{
    font-size: 24px;
}

#contact-us{
    margin-top: 80px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'Moderustic';
    background-color: var(--secondary);
    border-radius: 10px;
}


#contact-us h2{
    font-size: 36px;
}

#contact-us img{
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    height: 20px;
}

.contact-us-container{

    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
}

.contact-us-info1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    height: 200px;
    
}
.contact-us-info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    height: 200px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Menu toggle*/

#menu-toggle , .menu-label{
    display: none;
}







